@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

/* ===========================
   THEME VARIABLES
=========================== */

:root {
  --background: #050816;
  --foreground: #ffffff;

  --primary: #00f5ff;
  --secondary: #7c3aed;

  --card: rgba(255, 255, 255, 0.05);
  --border: rgba(255, 255, 255, 0.08);

  --muted: #94a3b8;
}

/* ===========================
   GLOBAL
=========================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* ===========================
   SCROLLBAR
=========================== */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background: #050816;
}

/* ===========================
   SELECTION
=========================== */

::selection {
  background: var(--primary);
  color: black;
}

/* ===========================
   REUSABLE CLASSES
=========================== */

.container-custom {
  max-width: 1280px;
  margin: auto;
  padding-inline: 24px;
}

.glass {
  background: rgba(255,255,255,.05);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(255,255,255,.08);
}

.gradient-text {
  background: linear-gradient(90deg,#00F5FF,#7C3AED);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@theme inline {
  --animate-shimmer-slide: shimmer-slide var(--speed) ease-in-out infinite alternate;
  --animate-spin-around: spin-around calc(var(--speed) * 2) infinite linear;
  @keyframes shimmer-slide {
  to {
    transform: translate(calc(100cqw - 100%), 0);
    }
  }
  @keyframes spin-around {
  0% {
    transform: translateZ(0) rotate(0);
    }
  15%, 35% {
    transform: translateZ(0) rotate(90deg);
    }
  65%, 85% {
    transform: translateZ(0) rotate(270deg);
    }
  100% {
    transform: translateZ(0) rotate(360deg);
    }
  }
}